odoo14-addon-l10n_ro_config @ git+https://github.com/OCA/l10n-romania@refs/pull/104/head#subdirectory=setup/l10n_ro_config
odoo14-addon-l10n_ro_partner_create_by_vat @ git+https://github.com/OCA/l10n-romania@refs/pull/105/head#subdirectory=setup/l10n_ro_partner_create_by_vat
odoo14-addon-l10n_ro_vat_on_payment @ git+https://github.com/OCA/l10n-romania@refs/pull/107/head#subdirectory=setup/l10n_ro_vat_on_payment
odoo14-addon-currency_rate_update @ git+https://github.com/OCA/currency@refs/pull/88/head#subdirectory=setup/currency_rate_update
odoo14-addon-date_range @ git+https://github.com/OCA/server-ux@refs/pull/217/head#subdirectory=setup/date_range
odoo14-addon-l10n_ro_stock @ git+https://github.com/OCA/l10n-romania@refs/pull/109/head#subdirectory=setup/l10n_ro_stock
