odoo14-addon-l10n_ro_config @ git+https://github.com/OCA/l10n-romania@refs/pull/104/head#subdirectory=setup/l10n_ro_config
odoo14-addon-l10n_ro_partner_create_by_vat @ git+https://github.com/OCA/l10n-romania@refs/pull/105/head#subdirectory=setup/l10n_ro_partner_create_by_vat
odoo14-addon-l10n_ro_vat_on_payment @ git+https://github.com/OCA/l10n-romania@refs/pull/107/head#subdirectory=setup/l10n_ro_vat_on_payment
